<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="needs-validation">
  <div class="form-group row" [ngClass]="aplicaErroCss(nome)">
    <div class="col-12">
      <label for="nome" class="col-form-label">Nome</label>
    </div>
    <div class="col-12">
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"
        [(ngModel)]="usuario.nome" required #nome="ngModel">
        <app-campo-control-error [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório.">
        </app-campo-control-error>
    </div>
  </div>

  <div class="form-group row" [ngClass]="aplicaErroCss(email)">
    <div class="col-12">
      <label for="email" class="col-form-label">E-mail</label>
    </div>
    <div class="col-12">
      <input type="email" class="form-control" id="email" name="email" placeholder="nome@email.com"
        [(ngModel)]="usuario.email" required email #email="ngModel">
        <!-- pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"> -->
        <app-campo-control-error [mostrarErro]="verificaValidTouched(email)" msgErro="Email é obrigatório.">
          </app-campo-control-error>
    </div>
  </div>

  <div ngModelGroup="endereco">
      <div class="form-group row">
        <div class="col-md-3" [ngClass]="aplicaErroCss(cep)">
            <label for="cep" class="col-form-label">CEP</label>
            <input type="text" id="cep" name="cep" class="form-control" required ngModel #cep="ngModel"
              (blur)="consultaCep($event.target.value, f)">
            <app-campo-control-error [mostrarErro]="verificaValidTouched(cep)" msgErro="CEP é obrigatório.">
              </app-campo-control-error>
        </div>
        <div class="col-md-3" [ngClass]="aplicaErroCss(numero)">
          <label for="numero" class="col-form-label">Número</label>
          <input type="text" id="numero" name="numero" class="form-control" required ngModel #numero="ngModel">
          <app-campo-control-error [mostrarErro]="verificaValidTouched(numero)" msgErro="Número é obrigatório.">
            </app-campo-control-error>
        </div>
        <div class="col-md-6">
            <label for="complemento" class="col-form-label">Complemento</label>
            <input type="text" id="complemento" name="complemento" class="form-control" ngModel #complemento="ngModel">
        </div>
      </div>
      <div class="form-group row">
          <div class="col-12" [ngClass]="aplicaErroCss(rua)">
          <label for="rua" class="col-form-label">Rua</label>
            <input type="text" id="rua" name="rua" class="form-control" required ngModel #rua="ngModel" readonly>
            <app-campo-control-error [mostrarErro]="verificaValidTouched(rua)" msgErro="Rua é obrigatório.">
              </app-campo-control-error>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-md-5" [ngClass]="aplicaErroCss(bairro)">
          <label for="bairro" class="col-form-label">Bairro</label>
          <input type="text" id="bairro" name="bairro" class="form-control" required ngModel #bairro="ngModel" readonly>
          <app-campo-control-error [mostrarErro]="verificaValidTouched(bairro)" msgErro="Bairro é obrigatório.">
            </app-campo-control-error>
        </div>
        <div class="col-md-4" [ngClass]="aplicaErroCss(cidade)">
          <label for="cidade" class="col-form-label">Cidade</label>
          <input type="text" id="cidade" name="cidade" class="form-control" required ngModel #cidade="ngModel" readonly>
          <app-campo-control-error [mostrarErro]="verificaValidTouched(cidade)" msgErro="Cidade é obrigatório.">
            </app-campo-control-error>
        </div>
        <div class="col-md-3" [ngClass]="aplicaErroCss(estado)">
          <label for="estado" class="col-form-label">Estado</label>
          <input type="text" id="estado" name="estado" class="form-control" required ngModel #estado="ngModel" readonly>
          <app-campo-control-error [mostrarErro]="verificaValidTouched(estado)" msgErro="Estado é obrigatório.">
            </app-campo-control-error>
        </div>
      </div>
  </div>

  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>

  <app-form-debug [formulario]="f"></app-form-debug>
</form>
