<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <div class="form-group row">
    <div class="col-12">
      <label for="nome" class="col-form-label">Nome</label>
    </div>
    <div class="col-12">
      <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome"
        [ngClass]="aplicaErroCssCampo('nome')">
      <app-campo-control-error [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
      </app-campo-control-error>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <label for="email" class="col-form-label">E-mail</label>
    </div>
    <div class="col-12">
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="nome@email.com"
        [ngClass]="aplicaErroCssCampo('email')">
      <app-campo-control-error [mostrarErro]="verificaValidTouched('email')" msgErro="E-mail é obrigatório.">
      </app-campo-control-error>
      <app-campo-control-error [mostrarErro]="verificaEmailInvalido()" msgErro="E-mail inválido.">
      </app-campo-control-error>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="form-group row">
      <div class="col-md-3">
          <label for="cep" class="col-form-label">CEP</label>
          <input type="text" id="cep" formControlName="cep" class="form-control" (blur)="consultaCep()"
            [ngClass]="aplicaErroCssCampo('endereco.cep')">
          <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório.">
            </app-campo-control-error>
      </div>
      <div class="col-md-3">
        <label for="numero" class="col-form-label">Número</label>
        <input type="text" id="numero" formControlName="numero" class="form-control"
          [ngClass]="aplicaErroCssCampo('endereco.numero')">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório.">
          </app-campo-control-error>
      </div>
      <div class="col-md-6">
          <label for="complemento" class="col-form-label">Complemento</label>
          <input type="text" id="complemento" formControlName="complemento" class="form-control">
      </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
        <label for="rua" class="col-form-label">Rua</label>
          <input type="text" id="rua" formControlName="rua" class="form-control"
            [ngClass]="aplicaErroCssCampo('endereco.rua')">
          <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório.">
            </app-campo-control-error>
        </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5" [ngClass]="aplicaErroCss('endereco.bairro')">
        <label for="bairro" class="col-form-label">Bairro</label>
        <input type="text" id="bairro" formControlName="bairro" class="form-control" >
        <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório.">
          </app-campo-control-error>
      </div>
      <div class="col-md-4">
        <label for="cidade" class="col-form-label">Cidade</label>
        <input type="text" id="cidade" formControlName="cidade" class="form-control"
          [ngClass]="aplicaErroCssCampo('endereco.cidade')">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório.">
          </app-campo-control-error>
      </div>
      <div class="col-md-3">
        <label for="estado" class="col-form-label">Estado</label>
        <select id="estado" formControlName="estado" class="form-control" [ngClass]="aplicaErroCssCampo('endereco.estado')">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório.">
          </app-campo-control-error>
      </div>
    </div>
  </div>

  <button class="btn btn-primary">Submit</button>
  &nbsp;
  <button type="button" class="btn btn-light" (click)="resetar()">Cancelar</button>

  <app-form-debug [formulario]="formulario"></app-form-debug>
</form>
