<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <app-input-field id="nome" formControlName="nome" label="Nome" [control]="formulario.get('nome')"
      class="col-12" [classeCss]="aplicaErroCss('nome')">
    </app-input-field>
  <!-- <div class="form-group row">
    <div class="col-12">
      <label for="nome" class="col-form-label">Nome</label>
    </div>
    <div class="col-12">
      <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome"
        [ngClass]="aplicaErroCssCampo('nome')">
      <app-error-msg [control]="formulario.get('nome')" label="Nome">
      </app-error-msg>
    </div>
  </div> -->

  <div class="form-group row">
    <div class="col-12">
      <label for="email" class="col-form-label">E-mail</label>
    </div>
    <div class="col-12">
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="nome@email.com"
        [ngClass]="aplicaErroCssCampo('email')">
        <app-error-msg [control]="formulario.get('email')" label="Email">
        </app-error-msg>
      <!-- <app-campo-control-error [mostrarErro]="verificaValidTouched('email')" msgErro="E-mail é obrigatório.">
      </app-campo-control-error>
      <app-campo-control-error [mostrarErro]="verificaEmailInvalido('email')" msgErro="E-mail inválido.">
      </app-campo-control-error>
      <app-campo-control-error [mostrarErro]="formulario.get('email').status === 'PENDING'" msgErro="Validando e-mail...">
      </app-campo-control-error>
      <app-campo-control-error [mostrarErro]="formulario.get('email').status === 'VALID'" msgErro="E-mail Válido">
      </app-campo-control-error>
      <app-campo-control-error [mostrarErro]="formulario.get('email').hasError('emailInvalido')" msgErro="E-mail já cadastrado.">
      </app-campo-control-error> -->
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <label for="email" class="col-form-label">Confirmar E-mail</label>
    </div>
    <div class="col-12">
      <input type="email" class="form-control" id="confirmarEmail" formControlName="confirmarEmail" placeholder="nome@email.com"
        [ngClass]="aplicaErroCssCampo('confirmarEmail')">
        <app-error-msg [control]="formulario.get('confirmarEmail')" label="Confirmar Email">
        </app-error-msg>
      <!-- <app-campo-control-error [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsToInvalid')"
        msgErro="E-mails não são iguais.">
      </app-campo-control-error> -->
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="form-group row">
      <div class="col-md-3">
          <label for="cep" class="col-form-label">CEP</label>
          <input type="text" id="cep" formControlName="cep" class="form-control"
            [ngClass]="aplicaErroCssCampo('endereco.cep')">
          <app-error-msg [control]="formulario.get('endereco.cep')" label="CEP">
          </app-error-msg>
          <!-- <app-campo-control-error [mostrarErro]="verificaRequired('endereco.cep')" msgErro="CEP é obrigatório.">
          </app-campo-control-error>
          <app-campo-control-error [mostrarErro]="formulario.get('endereco.cep').hasError('cepInvalido')" msgErro="CEP inválido.">
          </app-campo-control-error> -->
      </div>
      <div class="col-md-3">
        <label for="numero" class="col-form-label">Número</label>
        <input type="text" id="numero" formControlName="numero" class="form-control"
          [ngClass]="aplicaErroCssCampo('endereco.numero')">
        <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório.">
        </app-campo-control-error>
      </div>
      <div class="col-md-6">
          <label for="complemento" class="col-form-label">Complemento</label>
          <input type="text" id="complemento" formControlName="complemento" class="form-control">
      </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
        <label for="rua" class="col-form-label">Rua</label>
          <input type="text" id="rua" formControlName="rua" class="form-control"
            [ngClass]="aplicaErroCssCampo('endereco.rua')">
          <app-error-msg [control]="formulario.get('endereco.rua')" label="Rua">
          </app-error-msg>
          <!-- <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório.">
          </app-campo-control-error> -->
        </div>
    </div>

    <div class="form-group row">
      <div class="col-md-5" [ngClass]="aplicaErroCss('endereco.bairro')">
        <label for="bairro" class="col-form-label">Bairro</label>
        <input type="text" id="bairro" formControlName="bairro" class="form-control" >
        <app-error-msg [control]="formulario.get('endereco.bairro')" label="Bairro">
        </app-error-msg>
        <!-- <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório.">
        </app-campo-control-error> -->
      </div>
      <div class="col-md-4">
        <label for="cidade" class="col-form-label">Cidade</label>
        <input type="text" id="cidade" formControlName="cidade" class="form-control"
          [ngClass]="aplicaErroCssCampo('endereco.cidade')">
        <app-error-msg [control]="formulario.get('endereco.cidade')" label="Cidade">
        </app-error-msg>
        <!-- <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório.">
          </app-campo-control-error> -->
      </div>
      <div class="col-md-3">
        <label for="estado" class="col-form-label">Estado</label>
        <select id="estado" formControlName="estado" class="form-control" [ngClass]="aplicaErroCssCampo('endereco.estado')">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-error-msg [control]="formulario.get('endereco.estado')" label="Estado">
        </app-error-msg>
        <app-campo-control-error [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório.">
          </app-campo-control-error>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="cargo" class="col-form-label">Cargo</label>
      <select id="cargo" formControlName="cargo" class="form-control"
        [ngClass]="aplicaErroCssCampo('cargo')"
        [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
      <app-error-msg [control]="formulario.get('cargo')" label="Cargo">
      </app-error-msg>
      <!-- <app-campo-control-error [mostrarErro]="verificaValidTouched('cargo')" msgErro="Cargo é obrigatório.">
      </app-campo-control-error> -->
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="cargo" class="col-form-label">Cargo</label>
      <select id="cargo" formControlName="cargo" class="form-control"
        [ngClass]="aplicaErroCssCampo('cargo')"
        [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-md-3">
      <label for="tecnologias" class="col-form-label">Tecnologias</label>
      <select id="tecnologias" formControlName="tecnologias" class="form-control"
        [ngClass]="aplicaErroCssCampo('tecnologias')"
        multiple>
        <option *ngFor="let tecnologia of tecnologias" [ngValue]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>

    <div class="col-md-3">
      <label for="newsletter" class="col-form-label">Newsletter</label>
      <div id="newsletter" class="row">
        <div class="col-12">
          <div class="custom-control custom-radio custom-control-inline" *ngFor="let item of newsLetterOp" >
            <input type="radio" id="newsletter{{ item.valor }}" formControlName="newsletter"
              [value]="item.valor" class="custom-control-input">
            <label class="custom-control-label" for="newsletter{{ item.valor }}">{{ item.desc }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <div class="custom-control custom-checkbox" [ngClass]="aplicaErroCss('termos')">
        <input type="checkbox" class="custom-control-input" [ngClass]="aplicaErroCssCampo('termos')"  id="termos" formControlName="termos">
        <label class="custom-control-label" for="termos">Aceito os termos.</label>
      </div>
      <app-error-msg [control]="formulario.get('termos')" label="Termos">
      </app-error-msg>
      <!-- <app-campo-control-error [mostrarErro]="verificaValidTouched('termos')" msgErro="Por favor, aceite os termos.">
      </app-campo-control-error> -->
    </div>
    <div class="col-md-3">
      <label for="frameworks" class="col-form-label">Frameworks</label>
      <div id="frameworks" class="row">
        <div class="col-12">
          <div formArrayName="frameworks" *ngFor="let item of formulario.get('frameworks').controls; let i = index" >
            <div class="custom-control custom-checkbox custom-control-inline" [ngClass]="aplicaErroCss('frameworks')">
              <input type="checkbox" id="frameworks-{{ i }}" [formControlName]="i" class="custom-control-input" [ngClass]="aplicaErroCssCampo('frameworks')">
              <label class="custom-control-label" for="frameworks-{{ i }}">{{ frameworks[i] }}</label>
            </div>
          </div>
          <app-error-msg [control]="formulario.get('frameworks')" label="Frameworks">
          </app-error-msg>
          <!-- <app-campo-control-error [mostrarErro]="verificaValidTouched('frameworks')" msgErro="Selecione pelo menos uma opção.">
          </app-campo-control-error> -->
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary mr-2">Submit</button>
  <button type="button" class="btn mr-2 btn-light" (click)="resetar()">Cancelar</button>
  <button type="button" class="btn mr-2 btn-info" (click)="setarCargo()">Setar Cargo</button>
  <button type="button" class="btn mr-2 btn-info" (click)="setarTecnologias()">Setar Tecnologias</button>

  <app-form-debug [formulario]="formulario"></app-form-debug>
</form>
